body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b1f3a;
    color: white;
    text-align: center;
}

.container {
    padding: 120px 20px;
}

h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    color: #cbd5e1;
}

button {
    margin-top: 25px;
    padding: 12px 28px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}