<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>📊 Dashboard</h1>

        <p>Welcome to your Decentralized File Storage System.</p>

        <a href="{{ url_for('upload') }}">
    <button>📤 Upload File</button>
</a>

        <button>📁 My Files</button>

        <button>🖥️ Storage Nodes</button>

    </div>

</body>
</html>